<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>

<body>
    <input type="text" name="email" placeholder="email">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button onclick="signup()">signup</button>
</body>
<script>
    function signup() {
        const i = document.querySelectorAll('input')
        const data = {
            "email": i[0].value,
            "username": i[1].value,
            "password": i[2].value
        }
        let xhr = new XMLHttpRequest()
        xhr.open('POST', 'http://localhost:8080/signup')
        xhr.onload = function () {
            window.location.replace("/")
        };
        xhr.send(JSON.stringify(data))
    }
</script>

</html>