<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
</head>

<body>
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button onclick="signin()">signin</button>
</body>
<script>
    function signin() {
        const i = document.querySelectorAll('input')
        const data = {
            "username": i[0].value,
            "password": i[1].value
        }
        let xhr = new XMLHttpRequest()
        xhr.open('POST', 'http://localhost:8080/signin')
        xhr.onload = function () {
            window.location.replace("/home")
        };
        xhr.send(JSON.stringify(data))
    }
</script>

</html>